body{
    background-color: lawngreen;
}
#titulo{
    background-color: green;
    margin: 60px;
    padding-right: 60px;
    padding-left: 550px ;
    color:lightgreen;

}
.descriçao{
    background-color: white;

}

#paragrafo2{
    background-color: white;

}